<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Form a Step</title>
  <link rel="stylesheet" href="/css/styleMultiform.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
</head>
<body>
  <header>
    <a href="/"><img src="LongLogo.png" alt="Logo" class="longLogo"></a>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="dropdown">
              <a href="#"><i class="fa-solid fa-bars"></i></a>
              <ul class="submenu">
                  <li sec:authorize="isAuthenticated()"><a href="#">Account</a></li>
                  <li><a href="/segnala">Segnalazioni</a></li>
                  <!-- Se non autenticato, mostra un link per il login -->
                  <li sec:authorize="!isAuthenticated()"><a href="/login">Accedi</a></li>
              </ul>
          </li>
        </ul>
    </nav>
</header>

<main>
  <form id="multiStepForm" th:action="@{/conferma-denuncia}" th:object="${denuncia}" method="post">
    <!-- Step 1 -->
    <div class="step active">
      <label for="luogo">Luogo Smarrimento:</label>
      <input type="text" id="luogo" name="luogo" placeholder="Inserisci un luogo" />
      <div id="customDropdown" class="custom-dropdown"></div>
      <p id="suggestionMessage" style="color: red; font-style: italic; margin-top: 5px;"></p>

      <!-- Latitudine e Longitudine nascosti -->
      <input type="hidden" id="lat" name="lat">
      <input type="hidden" id="lon" name="lon">

      <!-- Mappa -->
      <div id="map"></div>

    </div>

    <!-- Step 2 -->
    <div class="step">
      <label for="nome">Nome:</label>
      <input type="text" id="nome"  name="nome" th:field="*{nome}" required><br>

      <label for="specie">Specie:</label>
      <input type="text" id="specie"  name="specie" th:field="*{specie}" required><br>

      <label for="razza">Razza:</label>
      <input type="text" id="razza"  name="razza" th:field="*{razza}"><br>
    </div>

    <!-- Step 3 -->
    <div class="step">
      <label for="descrizione">Descrizione Fisica:</label>
      <input type="text" id="descrizione"  name="descrizione" th:field="*{descrizioneFisica}"><br>

      <label for="eta">Età:</label>
      <input type="number" id="eta"  name="eta" th:field="*{eta}"><br>

      <label for="premioOfferto">Premio offerto:</label>
      <input type="number" id="premioOfferto"  name="premioOfferto" step="0.01" th:field="*{premioOfferto}"><br>
    </div>

    <!-- Step 4 -->
    <div class="step">
      <label for="info">Informazioni Extra:</label>
      <textarea id="info" name="info"  placeholder="max 255 caratteri" th:field="*{informazioniExtra}"></textarea><br>

      <label for="foto">Foto (URL):</label>
      <input type="url" id="foto" name="foto"  maxlength="255" placeholder="https://..." required oninput="anteprimaImmagine(this.value)" th:field="*{foto}"> 
      <div id="preview" style="margin-top: 10px;"></div>
    </div>

    <!-- Bottoni -->
    <div class="buttons">
      <button type="button" id="prevBtn">Indietro</button>
      <button type="button" id="nextBtn">Avanti</button>
      <button type="submit" id="submitBtn">Invia</button>
    </div>
  </form>
</main>

<script src="/js/formMultiStepScript.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</body>
</html>
