<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <title>Form a Step - Denuncia</title>
  <link rel="stylesheet" href="/css/styleMultiform.css" />
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
</head>

<body>
  <header>
    <a href="/" class="logo" aria-label="Home"><span class="paw">🐾</span> <span>Find Your Pet</span></a>
    <nav>
      <ul class="menu">
        <li sec:authorize="!isAuthenticated()">
          <a href="/login">Accedi</a>
        </li>
        <li sec:authorize="isAuthenticated()">
          <a href="/account"><i class="fa-solid fa-user"></i> Ciao <span th:text="${nomeUtente}">Utente</span> </a>
        </li>
        <li><a href="/ricerca">Consulta Segnalazioni</a></li>
        <li class="dropdown">
          <a href="#"><i class="fa-solid fa-bars"></i></a>
          <ul class="submenu">
            <li sec:authorize="isAuthenticated()"><a href="/account">Account</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/segnala">Contattaci</a></li>
            <li sec:authorize="isAuthenticated()">
              <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none"></form>

  <main>
    <form id="multiStepForm" th:action="@{/conferma-denuncia}" th:object="${denuncia}" method="post"
      enctype="multipart/form-data">

      <!-- Step 1 -->
      <div class="step active">
        <label for="luogo" class="required">Luogo Smarrimento:</label>
        <input type="text" id="luogo" name="luogo" placeholder="Inserisci un luogo" required />
        <p class="required-message">Questo campo è obbligatorio.</p>

        <div id="customDropdown" class="custom-dropdown"></div>
        <p id="suggestionMessage" class="suggestion-message"></p>

        <input type="hidden" id="lat" name="latitudine" />
        <input type="hidden" id="lon" name="longitudine" />
        <div id="map"></div>
      </div>

      <!-- Step 2 -->
      <div class="step">
        <label for="nome" class="required">Nome Animale Smarrito:</label>
        <input type="text" id="nome" name="nome" th:field="*{nome}" required />
        <p class="required-message">Questo campo è obbligatorio.</p>

        <label for="specie" class="required">Specie:</label>
        <select name="specie" id="specie" class="form-select" th:field="*{specie}" required>
          <option value="">Seleziona...</option>
          <option value="Cane">Cane</option>
          <option value="Gatto">Gatto</option>
          <option value="Pappagallo">Pappagallo</option>
          <option value="Roditore">Roditore</option>
          <option value="Rettile">Rettile</option>
        </select>
        <p class="required-message">Questo campo è obbligatorio.</p>

        <label for="razza" class="required">Razza:</label>
        <select id="razza" name="razza" th:field="*{razza}" required>
          <option value="">-- Seleziona una razza --</option>
        </select>
         <p class="required-message">Questo campo è obbligatorio.</p>
      </div>

      <!-- Step 3 -->
      <div class="step">
        <label>Sesso:</label><br>
        <div class="radio-group">
          <label for="maschio">
            <input type="radio" id="maschio" name="codSesso" value="MASCHIO">
            Maschio
          </label>

          <label for="femmina">
            <input type="radio" id="femmina" name="codSesso" value="FEMMINA">
            Femmina
          </label>

          <label for="ignoto">
            <input type="radio" id="ignoto" name="codSesso" value="IGNOTO">
            Ignoto
          </label>
        </div>
        <label for="descrizione">Descrizione Fisica:</label>
        <input type="text" id="descrizione" name="descrizioneFisica" placeholder="Colore, Lunghezza pelo, Caratteristiche mantello, ..." th:field="*{descrizioneFisica}" />

        <label for="eta">Età:</label>
        <select name="eta" id="eta" class="form-select">
          <option value="">Seleziona...</option>
          <option value="Cucciolo">Cucciolo</option>
          <option value="Adulto">Adulto</option>
          <option value="Anziano">Anziano</option>
        </select>

        <label for="premioOfferto">Premio offerto:</label>
        <input type="number" id="premioOfferto" name="premioOfferto" step="0.01" th:field="*{premioOfferto}" placeholder="Eventuale premio in denaro" />
      </div>

      <!-- Step 4 -->
      <div class="step">
        <label for="info">Informazioni Extra:</label>
        <textarea id="info" name="informazioniExtra" maxlength="255" placeholder="max 255 caratteri"></textarea>

        <label for="file" class="required">Carica una foto:</label>
        <input type="file" id="file" name="file" accept="image/*" required />
        <p class="required-message">È necessaria almeno una foto.</p>

        <div id="preview" class="image-preview"></div>
      </div>

      <div class="buttons">
        <button type="button" id="prevBtn">Indietro</button>
        <button type="button" id="nextBtn">Avanti</button>
        <button type="submit" id="submitBtn">Invia</button>
      </div>
    </form>
  </main>

  <script src="/js/specieForm.js"></script>
  <script src="/js/formMultiStepScript.js"></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</body>

</html>