<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Errore</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="LongLogo.png" alt="Logo" class="longLogo">
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                    <ul class="submenu">
                        <li sec:authorize="isAuthenticated()"><a href="#">Account</a></li>
                        <li><a href="/segnala">Segnalazioni</a></li>
                        <!-- Se non autenticato, mostra un link per il login -->
                        <li sec:authorize="!isAuthenticated()"><a href="/login">Accedi</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <h2>Si è verificato un errore interno del server. Riprova più tardi.</h2>

    <!-- Footer -->
    <footer>
        &copy; 2025 FUP - Find Your Pet. Tutti i diritti riservati.
    </footer>
</body>
</html>
