<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <!-- Header -->
    <header>
        <a href="/"><img src="LongLogo.png" alt="Logo" class="longLogo"></a>
        <nav>
            <ul class="menu">
                <li><a href="/ricerca">Consulta Segnalazioni</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                    <ul class="submenu">
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Segnalazioni</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>

            <button type="submit">Login</button>
        </form>

        <p th:if="${error != null}">Credenziali non valide!</p>

        <!-- Footer -->
        <footer>
            &copy; 2025 FUP - Find Your Pet. Tutti i diritti riservati.
        </footer>
    </main>
</body>

</html>