<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/styleModifica.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Modifica Segnalazione</title>
</head>

<body>
    <header>
        <a href="/"><img src="/img/LongLogo.png" alt="Logo" class="longLogo"></a>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                    <ul class="submenu">
                        <li sec:authorize="isAuthenticated()"><a href="#">Account</a></li>
                        <li><a href="/segnala">Contattaci</a></li>
                        <!-- Se non autenticato, mostra un link per il login -->
                        <li sec:authorize="!isAuthenticated()"><a href="/login">Accedi</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="section-title">Modifica Segnalazione</h2>
        <form th:action="@{'/segnalazioni/modifica/' + ${segnalazione.id}}" th:object="${segnalazione}" method="post"
            class="form-modifica">
            <label>Nome animale:</label>
            <input type="text" th:field="*{nome}" required>

            <label>Razza:</label>
            <input type="text" th:field="*{razza}">

            <label>Luogo:</label>
            <input type="text" th:field="*{luogo}" required>

            <!-- altri campi se servono -->

            <div class="buttons">
                <button type="submit">Salva Modifiche</button>
            </div>
        </form>
    </main>
</body>

</html>