<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Form a Step</title>
  <link rel="stylesheet" href="styleMultiform.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <a href="/"><img src="LongLogo.png" alt="Logo" class="longLogo"></a>
    <nav>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="dropdown">
                <a href="#"><i class="fa-solid fa-bars"></i></a>
                <ul class="submenu">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Sviluppo</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<main>
  <form id="multiStepForm" th:action="@{/conferma-avvistamento}" th:object="${segnalazione}" method="post">
    <!-- Step 1 -->
    <div class="step active">
      <label for="luogo">Luogo Avvistamento:</label>
      <input type="text" id="luogo"  name="luogo" th:field="*{luogo}" required><br>

      <label for="specie">Specie:</label>
      <input type="text" id="specie"  name="specie"  maxlength="255" th:field="*{specie}" required><br>

      <label for="razza">Razza:</label>
      <input type="text" id="razza"  name="razza"  maxlength="255" th:field="*{razza}"><br>
    </div>

    <!-- Step 2 -->
    <div class="step">
      <label for="descrizione">Descrizione Fisica:</label>
      <input type="text" id="descrizione"  name="descrizione"  maxlength="255" th:field="*{descrizioneFisica}"><br>

      <label for="salute">Stato Salute Apparente:</label>
      <input type="text" id="salute"  name="salute"  maxlength="255" th:field="*{statoSalute}"><br>

      <label for="azione">Azioni Intraprese:</label>
      <input type="text" id="azione"  name="azione"  maxlength="255" th:field="*{azioniIntraprese}"><br>
    </div>

    <!-- Step 3 -->
    <div class="step">
      <label for="info">Informazioni Extra:</label>
      <textarea id="info" name="info"  placeholder="max 255 caratteri" maxlength="255" th:field="*{informazioniExtra}"></textarea><br>

      <label for="foto">Foto (URL):</label>
      <input type="url" id="foto" name="foto"  maxlength="255" placeholder="https://..." required oninput="anteprimaImmagine(this.value)" th:field="*{foto}"> 
      <div id="preview" style="margin-top: 10px;"></div>
    </div>

    <!-- Bottoni -->
    <div class="buttons">
      <button type="button" id="prevBtn">Indietro</button>
      <button type="button" id="nextBtn">Avanti</button>
      <button type="submit" id="submitBtn">Invia</button>
    </div>
  </form>
</main>
<script src="/js/formMultiStepScript.js"></script>

</body>
</html>
