<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Form a Step</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h2>Modulo a Step</h2>

<form id="multiStepForm">
  <div class="step active">
    <label for="luogo">Luogo Avvistamento:</label>
                <input type="text" id="luogo" placeholder="Inserisci la posizione dell'avvistamento"><br>
            <label for="specie">Specie:</label>
                <input type="text" id="specie" placeholder="es. cane, gatto, pappagallo..."><br>
            <label for="razza">Razza:</label>
                <input type="text" id="razza" placeholder="Se conosci la razza inserisci qui"><br>
            
            
  </div>

  <div class="step">
    <label for="descrizione">Descrizione Fisica:</label>
        <input type="text" id="descrizione" placeholder="Inserisci segni particolari (es. colore)"><br>
    <label for="salute">Stato Salute Apparente:</label>
        <input type="text" id="salute" placeholder="Come ti sembra stia l'animale?"><br>
    <label for="azione">Azioni Intraprese:</label>
        <input type="text" id="azione" placeholder="Hai agito in qualche modo?"><br>
  </div>

  <div class="step">
    <label for="info">Informazioni Extra:</label>
        <textarea type="text" id="info" placeholder="max 255 caratteri"></textarea><br>
    <label for="foto">Foto:</label>
        <input type="text" id="foto" placeholder=""><br>
  </div>

  <div class="buttons">
    <button type="button" id="prevBtn">Indietro</button>
    <button type="button" id="nextBtn">Avanti</button>
    <button type="submit" id="submitBtn">Invia</button>
  </div>
</form>

<script src="formMultiStepScript.js"></script>
</body>
</html>
