/* carosello.css */

/* Imposta una dimensione fissa per le slide del carosello */
.carousel-inner {
    max-height: 400px;  /* Imposta l'altezza fissa per tutte le slide */
    overflow: hidden;   /* Nascondi qualsiasi contenuto che esce fuori dalla slide */
}

.carousel-item {
    height: 400px;  /* Altezza della singola slide */
}

.carousel-item img {
    object-fit: cover;  /* Centra e adatta l'immagine senza deformarla */
    height: 100%;      /* Assicurati che l'immagine copra tutta la slide */
    width: 100%;       /* Assicurati che l'immagine copra tutta la slide */
}

.carousel-caption {
    bottom: 10px; /* Imposta la posizione della didascalia in basso */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Didascalia con ombra per renderla leggibile */
}
